config/config.json
docs/00-Prompt-for-ProjectAnalysis.md
app/core_logs/sistema.log
config/config.json
.env

app/__pycache__/
app/core_channels/__pycache__/
app/core_config/__pycache__/
app/core_logs/__pycache__/
app/core_services/__pycache__/
app/core_services/llm_impl/__pycache__/
app/core_utils/__pycache__/

