config/config.json
.env
app/utils/logging/sistema.log
app/__pycache__/
app/blueprints/__pycache__/
app/blueprints/data/__pycache__/
app/channels/__pycache__/
app/utils/logging/__pycache__/
app/services/__pycache__/
app/utils/__pycache__/
app/services/llm_impl/__pycache__/
